body {
    margin: 20px;
   color:white;
      background-color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    background-color: orange;
    background-size: 20px;

    }
    